<i class="fab fa-github"></i> <a href="https://github.com/jharemza/" target="_blank">@jharemza</a><br>
<i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/jeremiahharemza/" target="_blank">linkedin.com/in/jeremiahharemza</a><br>
<i class="fas fa-globe"></i> <a href="https://jeremiahharemza.com/" target="_blank">jeremiahharemza.com</a><br>
<i class="far fa-envelope"></i> <a href="mailto:jeremiah.haremza@gmail.com" target="_blank">jeremiah.haremza@gmail.com</a><br>
<i class="fas fa-mobile-alt"></i> <a href="tel:7163353682" target="_blank">716-335-3682</a>