<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/jharemza/" target="_blank">@jharemza</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/jeremiahharemza/" target="_blank">linkedin.com/in/jeremiahharemza</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://jeremiahharemza.com/" target="_blank">jeremiahharemza.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:jeremiah.haremza@gmail.com" target="_blank">jeremiah.haremza@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:7163353682" target="_blank">716-335-3682</a></p>